$shadow-default: 0px 16px 32px rgba(0, 0, 0, 0.5);

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, div, p {
    box-sizing: border-box;
}

body {
    background: #F0F3FF;
}

@mixin center-margin {
    margin-left: auto;
    margin-right: auto;
}

.page {
    width: 45%;
    height: auto;

    @include center-margin();
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2%;

    background: #FFFFFF;
    border-radius: 16px;
    box-shadow: $shadow-default;

    h2 {
        font-weight: 800;
        color: #2E282C;
        cursor: pointer;
    }

    h2:hover {
        text-shadow: 0 0 20px #000000;
    }

    .filters {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 70%;

        margin-top: 2%;

        select {
            width: 10vw;
            font-size: 1em;
            border: 1px solid #444444;
            border-radius: 6px;

            padding-top: 1%;
            padding-bottom: 1%;
            padding-left: 0.1%;
        }
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 15vw;
        grid-gap: 1vw;

        margin-top: 5%;
    }

    $card-indent: 5%;

    .card {
        position: relative;
        border-radius: 6px;
        background-size: cover;
        box-shadow: $shadow-default;
        overflow: hidden;

        .day-block {
            position: relative;
            top: $card-indent;
            left: $card-indent;

            height: 1.7em;
            width: 1.7em;

            display: flex;
            justify-content: center;
            align-items: center;

            color: #FFFFFF;
            font-size: 1.5em;
            overflow: hidden;

            border: 1px solid #FFFFFF;
            border-radius: 6px;
            cursor: pointer;
        }

        .day-block:hover {
            background: rgba(155, 155, 155, 0.5);
        }

        .white-bookmark {
            color: white;
            position: absolute;
            top: $card-indent;
            right: $card-indent;
            font-size: 1.2em;
        }

        .event-name {
            position: absolute;
            bottom: $card-indent;
            left: $card-indent;
            color: #FFFFFF;
        }
    }
}